* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 2% 0 0;
  background: #fff;
  color: #333;
  font-family: "Comic Sans MS";
}

.container {
  width: 760px;
  overflow: auto;
  border: #999 solid 1px;
  margin: 0 auto;
}

header {
  background: url(images/header.jpg) no-repeat;
  width: 760px;
  height: 158px;
}

h1 {
  font-size: 250%;
  font-weight: bold;
  padding: 30px 10px 0;
}

header a {
  color: #ffc;
  text-decoration: none;
}

header a:hover {
  color: #EBB0AC;
  text-decoration: none;
}

.description {
  padding: 0 10px;
  font-size: 100%;
  color: #fff;
}

nav {
  background: url(images/nav_bg.jpg) repeat-x;
  color: #f00;
  font-size: 120%;
  font-weight: bold;
  line-height: 1.8em;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 8px;
}

nav li a {
  color: #00ff00;
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 2px solid;
}


main {
  width: 545px;
  font-size: 0.8em;
  margin: 10px 0;
  float: left;
  display: block;
}


main p {
  text-align: justify;
  text-indent: 1.5em;
  margin: 0 10px;
}

.img1 {
  width: 200px;
  height: 287px;
  margin: 0 0 0 15px;
  float: right;
}

.img2 {
  width: 200px;
  height: 200px;
  margin: 10px 10px 0 15px;
  float: left;
}

.venzel {
  width: 300px;
  height: 23px;
  margin: 10px 10px 0 15px;
  float: left;
}

.list {
  width: 300px;
  float: right;
}

.list h2 {
  text-align: center;
  font-size: 120%;
  color: #f60;
  font-weight: bold;
}

.list ol {
  color: #00ff00;
  font-size: 120%;
  margin: 10px;
}

.list a {
  color: #00ff00;
  font-weight: bold;
}

.list a:hover {
  color: #f00;
}

.line {
  float: right;
}

.news {
  background: #ffc;
  width: 185px;
  color: #665;
  margin: 10px 5px;
  float: right;
}

.news h3 {
  color: #f60;
  font-size: 120%;
  font-weight: bold;
  text-align: center
}

.news ul {
  list-style: url(images/marker.jpg) inside;
}

.news li {
  font-size: 75%;
  padding: 5px 10px;
}

.clearfloat {
  clear: both;
}

footer {
  background: #665;
  font-size: 80%;
  padding: 5px;
  color: #fff;
}

footer p {
  text-align: center;
}

footer a {
  color: #ff0;
}

footer a:hover {
  color: #f00;
}