body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Roboto Serif', serif;
}


.card {
  width: 1000px;
  height: 650px;
  margin: 100px auto;
  background: radial-gradient(361.05% 213.87% at 97.25% 2.58%, #a49fe3 0%, rgba(179, 241, 249, 0.5) 50%, #5a52a4 86.19%);
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
  box-sizing: border-box;

}


.vertical-line {
  float: right;
  width: 3px;
  height: 104%;
  background-color: #000;
  margin-top: 16px;
  margin-right: 5px;
}


.text-block {
  float: right;
  width: 92%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 30px;
}


.name {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
}


.title {
  font-size: 36px;
  margin: 10px 0 100px 0;
}


.contact {
  font-size: 30px;
  line-height: 1.6;
  margin-top: 230px;
}


a {
  color: black;
  text-decoration: none;

}

a:hover {
  font-size: 31px;

}

a:visited {
  color: black;
}

.contact p {
  line-height: 1.6;
  height: 1.6em;

}