* {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  color: #20170f;
  text-decoration: none;
}

body {
  background-color: #fff1e9;
  margin-left: 50px;
  margin-right: 50px;
}

#container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

#header_top {
  display: flex;
  justify-content: center;
  background-color: #221916;
}

h1 {
  font-style: oblique;
  font-size: max(4.5vw, 35px);
  margin-top: 1.7vw;
  margin-bottom: 1.7vw;
  font-weight: 750;
  color: #fff1e9;
}

h4 {
  font-style: normal;
  font-size: max(1.7vw, 13px);
  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
  font-weight: 200;
  color: #fff1e9;
  text-align: center;
}

#topline {
  margin: 0.2vw 0 0;
  flex-direction: column;
}

.line {
  background-color: #a99687;
  height: 0.8vw;
  margin-bottom: 25px;
}

#pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left {
  height: 25vw;
  width: 30vw;
  background-repeat: no-repeat;
  background-position: 0 2vw;
  display: flex;
  align-items: flex-end;
  margin-top: -7vw;
}

.left_pic {
  width: 18vw;
  height: 18vw;
}

#woman {
  background-image: url(images/woman.sq.p.jpeg);
  margin-top: 0;
  background-size: max(80px, 20vw);
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: max(2.2vw, 25px);
  margin: -0.7vw 0 0 -0.8vw;
  text-wrap: nowrap;
  margin-bottom: 15px;
}

h3 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
}

.left_text {
  text-align: left;
  margin-left: 30px;
}

.left_container {
  font-size: max(1.05vw, 8px);
  margin-left: clamp(5px, 5vw, 110px);
  display: flex;
}

.left_main_text {
  font-size: 20px;
  margin: 2vw 0 0 0.5vw;
  white-space: normal;
  width: 20vw;
}

.left_container:hover {
  background-color: #c5aaa296;
  border-radius: 20px;
  transition: 0.01s;
}


.right {
  height: 26.3vw;
  width: 45.2vw;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 2.2vw;
  display: flex;
  align-items: flex-end;
  margin-top: 4.5vw;
  justify-content: space-between;
}

.right_pic {
  float: right;
  width: 18vw;
  height: 18vw;
}

#onhorse {
  background-image: url(images/onhorse.sq.p.jpeg);
  margin-top: 15vw;
  background-size: max(80px, 20vw);
}

h3 {
  font-weight: 900;
  font-size: max(1.6vw, 11px);
  margin: -0.7vw -0.8vw 0 0;
  white-space: nowrap;
}

.right_text {
  text-align: right;
  margin-right: 20px;
}

.right_main_text {
  font-size: 20px;
  margin: 2vw 0 0 0.5vw;
  white-space: normal;
  width: 20vw;
}

.right_container {
  font-size: max(1.05vw, 8px);
  margin-right: clamp(5px, 5vw, 110px);
  display: flex;
  justify-content: space-between;
}

.right_container:hover {
  background-color: #c5aaa296;
  border-radius: 20px;
  transition: 0.01s;
}

#main_inf {
  width: 92vw;
  padding-bottom: 4vw;
}

#monalisa {
  background-image: url(images/monalisa.sq.p.jpeg);
  margin-top: -80px;
  background-size: max(80px, 20vw);
}

#chokolate {
  background-image: url(images/chokolate.sq.p.jpeg);
  margin-top: 10vw;
  background-size: max(80px, 20vw);
}

#oldman {
  background-image: url(images/oldman.sq.p.jpeg);
  margin-top: -80px;
  background-size: max(80px, 20vw);
}

#judje {
  background-image: url(images/judje.sq.p.jpeg);
  margin-top: 13vw;
  background-size: max(80px, 20vw);
}

#oldwoman {
  background-image: url(images/oldwoman.sq.p.jpeg);
  margin-top: -80px;
  background-size: max(80px, 20vw);
}

#duo {
  background-image: url(images/duo.sq.p.jpeg);
  margin-top: 13vw;
  background-size: max(80px, 20vw);
}

.left_pic:hover {
  transform: scale(1.11);
  transition: .3s;
}

.right_pic:hover {
  transform: scale(1.11);
  transition: .3s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9vh;
  background-color: #221916;
  padding: 10px 0;
}

.wrapper div {
  display: flex;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: fit-content;
  margin-right: 20px;
  font-style: normal;
  font-weight: 750;
  color: #fff1e9;
}

footer .wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  justify-content: space-between;
  align-items: flex-end;
}

footer a {
  color: #fff1e9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  width: fit-content;
}

footer a:hover {
  color: #9b8077;
}

dl {
  display: flex;
  flex-direction: row;
  align-items: end;
}

dt {
  margin: 0 16px;
}

html {
  scroll-behavior: smooth;
}
