* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
#container {
    display: flex;
    padding: 0 0%;
    text-align: center;
    background-color: #ffffff;
}

#header_top {
    display: flex;
    justify-content: center;
    background-color: #0e1a41;
}

h1 {
    font-style: italic;
    font-size: max(4.5vw, 35px);
    margin-top: 1.1vw;
    margin-bottom: 1.2vw;
    font-weight: 600;
    color: #f4f5ff;
}

#topline {
    margin: 0.2vw 0 0;
    flex-direction: column;
}

.line {
    background-color: #999fc8;
    height: 0.8vw;
    margin-bottom: 25px;
}

.pic {
    padding: 2em 1em 0em 2em;
    float: left;
}

.p {
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
    text-align: justify;
}

h2 {
    font-style: normal;
    font-size: max(2.5vw,10px);
    margin-top: 1.1vw;
    margin-bottom: 1.2vw;
    font-weight: 600;
    color: #f4f5ff;
    text-decoration: overline;
    
}